# docker-compose.yml
services:
  db:
    image: postgres:17
    container_name: onlineshop_db
    restart: always
    environment:
      POSTGRES_DB: onlineshop
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 10s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql/data

  # ДОБАВЬ ТЕСТОВУЮ БАЗУ
  test-db:
    image: postgres:17
    container_name: onlineshop_test_db
    restart: "no"  # Только для тестов
    environment:
      POSTGRES_DB: test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1111
    ports:
      - "5433:5432"  # Другой порт
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: onlineshop_app
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/onlineshop
    ports:
      - "8080:8080"
    tty: true

volumes:
  pgdata: