# docker-compose.yml
services:
  db:
    image: postgres:17
    container_name: onlineshop_db
    restart: always
    environment:
      POSTGRES_DB: onlineshop
      POSTGRES_USER: your_pg_user
      POSTGRES_PASSWORD: your_pg_password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 10s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: onlineshop_app
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      # Все переменные берутся из .env через IDEA
      SPRING_PROFILES_ACTIVE: docker
      # URL БД для Docker сети
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/onlineshop
    ports:
      - "8080:8080"
    tty: true

volumes:
  pgdata: